.popup-view__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/icon__close-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    align-self: flex-end;
}

.popup-view__close-button:hover {
    opacity: 0.6;
}