.profile__avatar {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;
    object-fit: cover;
    background-image: url(#); /*изменение автара, поставил заглушку для подгрузки с сервера*/
}

.profile__avatar::after {
    content: '';
    position: absolute;
    pointer-events: none;
}

.profile__avatar::after {
    width: 26px;
    height: 26px;
    background-image: url('../../../images/icon__change-avatar.svg');
    background-size: contain;
    opacity: 0;
    top: 50%;
    left: 50%;
}

@media screen and (max-width: 960px) {
    .profile__avatar {
        margin-right: 0;
        margin-bottom: 26px;
    }
}