.button__edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/icon__edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.button__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .button__edit {
        width: 18px;
        height: 18px;
    }
}